.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  align-self: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 95%;
  align-self: center;
  justify-content: center;
}

.image {
  width: 100%;
  margin: 0.4rem;
  border-radius: 0.5rem;
  border-style: none;
  height: 300px;
  object-fit: cover;
}

.img-container {
  height: 80px;
  width: 80px;
  margin: 0.2rem;
  overflow: hidden;
  margin: 0 auto;
  /* object-fit: ; */
}

.img-container img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-container:hover img {
  transform: scale(1.5);
}

@media screen and (min-width: 768px) {
  .img-container {
    height: 170px;
    width: 170px;
    margin: 0.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .img-container {
    height: 230px;
    width: 230px;
    margin: 0.3rem;
  }
  .cont {
    padding: 120px;
  }
}
.fullImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  overflow: hidden !important;
}
.cont {
  padding: 40px;
}
