@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:wght@700&family=Public+Sans:wght@300;400&display=swap");

* {
  font-size: 16px;
  /* box-sizing: border-box; */
}
a {
  text-decoration: none;
  color: black;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  height: 100%;
  background-color: #f9f1f0;
}
.app-title {
  font-family: "Lobster", "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 3rem;
}

.input {
  border-radius: 0.4rem;
  height: 2rem;
  border: 1px solid black;
  width: 80%;
  max-width: 320px;
  padding: 1rem;
}

.main-nav {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-self: center;
  align-items: center;
  padding: 1rem;
}

.nav-list-item {
  border: 1px solid black;
  background-color: #f8afa6;
  border-radius: 0.5rem;
  color: black;
  text-decoration: none;
  width: 80px;
  padding: 5px;
  text-align: center;
  color: black;
}

.active {
  text-decoration: none;
  color: red;
}

@media screen and (min-width: 768px) {
}

.search-container {
  display: flex;
  align-items: center;
  height: 80px;
  border: 1px solid red;
}

.search-image {
  /* background-image: url("./magnify-100s-200px.svg"); */
  border: 1px solid red;
}
