.image {
  width: 100%;
  margin: 0.4rem;
  border-radius: 0.5rem;
  border-style: none;
  height: 100%;
  object-fit: cover;
}

.img-container {
  height: 80px;
  width: 80px;
  margin: 0.2rem;
  overflow: hidden;
  margin: 0 auto;
  /* object-fit: ; */
}

.img-container img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.img-container:hover img {
  transform: scale(1.5);
}

@media screen and (min-width: 768px) {
  .img-container {
    height: 170px;
    width: 170px;
    margin: 0.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .img-container {
    height: 230px;
    width: 230px;
    margin: 0.3rem;
  }
}
